[submodule "cpp-coap"]
	path = cpp-coap
	url = https://github.com/Piotr-Brzeski/cpp-coap.git
[submodule "cpp-data-format"]
	path = cpp-data-format
	url = https://github.com/Piotr-Brzeski/cpp-data-format.git
[submodule "cpp-log"]
	path = cpp-log
	url = https://github.com/Piotr-Brzeski/cpp-log
